@font-face {
    font-family: 'Early-bird';
    src: url(./../../fonts/early_bird.otf);
}

.header {
    margin-top: 55px;
}

.page-title {
    font-family: var(--head-font);
    font-weight: 200;
    font-size: 48px;
    text-align: center;
    letter-spacing: .2em;
    width: 100%;
}

.page-title::after, .page-title::before {
    content: '';
    max-width: 440px;
    width: 100%;
    height: 1px;
    background-color: var(--main-color);
    display: inline-block;
    margin-top: 15px;
}

.page-title::after {
    margin-left: 35px;
}

.page-title::before {
    margin-right: 35px;
}

.sub_title {
    display: block;
    font-family: var(--main-font);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .15em;
    margin: 20px auto;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 100px;
}

.nav_list {
    display: flex;
    max-width: 620px;
    width: 100%;
    color: var(--main-color);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-left: -30px;
}

.nav_item {
    padding: 0 30px;
}

.nav_item:hover {
    /* transform: scale(1.10); */
    /* transition: .5s; */
    cursor: pointer;
}

.search_block {
    cursor: pointer;
}

.nav {
    position: relative;
}

.nav_item {
    user-select: none;
}

.nav_categories-list {
    position: absolute;
    z-index: 1000;
    background-color: white;
    padding: 10px 25px 25px 25px;
    text-align: center;
    top: 40px;
    left: 100px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    border-radius: 4px;
    display: none;
}

.nav_categories-list.active {
    display: block;
}

#categories_icon-right-open {
    transition: .3s;
    font-weight: 300;
    color: var(--main-color);
    font-size: .9rem;
}

#categories_icon-right-open.active {
    transform: rotate(90deg);
}

.categories_item {
    padding-top: 20px;
    cursor: pointer;
    display: block;
}

#categories_link {
    display: flex;
    align-items: center;
}

#categories_link .icon-right-open {
    margin-left: 15px;
    display: block;
}

.categories_click-field {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: aliceblue;
    z-index: 1000;
    top: 0;
    left: 0;
    opacity: 0;
    display: none;
}

.categories_click-field.active {
    display: block;
}