@font-face {
    font-family: 'Early-bird';
    src: url(./../fonts/early_bird.otf);
}

.main_section {
    margin-top: 50px;
    height: calc(100vh - 50px);
}

.title {
    font-family: var(--head-font);
    font-weight: 200;
    font-size: 48px;
    text-align: center;
    letter-spacing: .2em;
    width: 100%;
}

.title::after, .title::before {
    content: '';
    max-width: 440px;
    width: 100%;
    height: 1px;
    background-color: var(--main-color);
    display: inline-block;
    margin-top: 15px;
}

.title::after {
    margin-left: 35px;
}

.title::before {
    margin-right: 35px;
}

.sub_title {
    display: block;
    font-family: var(--main-font);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .15em;
    margin: 20px auto;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 100px;
}

.nav_list {
    display: flex;
    max-width: 620px;
    width: 100%;
    color: var(--main-color);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-left: -30px;
}

.nav_item {
    padding: 0 30px;
}

.nav_item:hover {
    transform: scale(1.10);
    transition: .5s;
    cursor: pointer;
}

.slider {
    margin-top: 50px;
    position: relative;
}

.slider_wrapper {
    height: 550px;
    position: relative;
}

.slider_blur {
    width: calc((100vw - 1280px) / 2);
    height: 550px;
    background-color: aliceblue;
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 0.5;
}

.slider_blur:first-child {
    left: calc((100vw - 1280px) / -2);
}

.slider_blur:nth-child(2) {
    right: calc((100vw - 1280px) / -2);
}

.slider_block {
    max-width: 750px;
    width: 100%;
    height: 260px;
    position: absolute;
    z-index: 3;
    background-color: var(--white-color);
    top: calc(50% - 130px);
    left: calc(50% - 375px);
}

.slider_block-head {
    display: block;
    text-align: center;
    margin-top: 30px;
    font-family: var(--main-font);
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: .9rem;
    color: var(--gold-color);
    font-weight: 500;
}

.slider_block-text {
    font-family: var(--josefin-font);
    font-size: 2.2rem;
    max-width: 500px;
    text-align: center;
    margin: 40px auto 0;
    display: block;
    font-weight: 300;
}

.slider_block-read {
    display: block;
    padding: 15px 0;
    border: 2px solid var(--gold-color);
    max-width: 200px;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--main-font);
    font-weight: 500;
    margin: 25px auto;
    transition: .3s;
}

.slider_block-read:hover {
    background-color: var(--gold-color);
    color: var(--white-color);
}

.slider_arrow-left, .slider_arrow-right {
    width: 60px;
    height: 55px;
    position: absolute;
    background-color: var(--white-color);
    top: 0;
    z-index: 5;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider_arrow-left {
    left: calc((100vw - 1280px) / -2);
    top: calc(50% - 27.5px)
}

.slider_arrow-right {
    right: calc((100vw - 1280px) / -2);
    top: calc(50% - 27.5px)
}

.slider_list {
    display: flex;
    position: absolute;
    top: 0;
    left: calc(-1280px);
    transition: .5s;
}

.slider_item {
    width: 1280px;
    height: 550px;
    background-size: cover;
}

.slider_item:first-child {
    background-image: url(./../images/slider_0.jpg);
}

.slider_item:nth-child(2) {
    background-image: url(./../images/slider_1.jpg);
}

.slider_item:nth-child(3) {
    background-image: url(./../images/slider_2.jpg);
}

.categories_blocks {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.categories_block {
    width: 100%;
    margin: 0 30px;
    display: block;
    height: 280px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.categories_hover {
    height: 100px;
    width: 280px;
    border: 2px solid var(--white-color);
    position: absolute;
    bottom: -2px;
    left: calc(50% - 140px);
    opacity: 0;
    transition: .8s;
}

.categories_block:hover {
    cursor: pointer;
}

.categories_block:hover .categories_hover {
    opacity: 1;
}

.categories_block:first-child {
    margin-left: 0;
    background-image: url(./../images/travel.jpg);
}

.categories_block:nth-child(2) {
    background-image: url(./../images/life-style.jpg);
}

.categories_block:nth-child(3) {
    margin-right: 0;
    background-image: url(./../images/insperetion.jpg);
}

.categories_text {
    display: flex;
    padding: 25px 0;
    width: 220px;
    justify-content: center;
    background-color: var(--white-color);
    position: absolute;
    bottom: 0;
    left: calc(50% - 110px);
    font-size: 1.2rem;
    font-family: var(--main-font);
    text-transform: uppercase;
    letter-spacing: .2em;
    user-select: none;
}

.content_wrapper {
    display: flex;
    justify-content: space-between;
}

.posts {
    max-width: 833.34px;
    width: 100%;;
}

.side_block {
    max-width: 386.67px;
    width: 100%;
}

.post {
    max-width: 100%;
    display: flex;
    margin-top: 55px;
}

.post_img {
    height: 280px;
    width: 386.67px;
    background-size: cover;
    background-position: center;
    margin-right: 25px;
}

.post_data {
    width: 50px;
    height: 50px;
    background-color: var(--gold-color);
    color: var(--white-color);
    font-family: var(--main-font);
    text-align: center;
    margin-left: auto;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: .9rem;
    user-select: none;
}

.post_white {
    width: 50px;
    height: 50px;
    margin-left: auto;
    background-color: var(--white-color);
}

.post_content {
    display: flex;
    flex-direction: column;
}

.post-reversed .post_content {
    justify-content: flex-end;
}


.post_title {
    height: 50px;
    display: flex;
    align-items: center;
    font-family: var(--main-font);
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: .9rem;
    color: var(--gold-color);
    font-weight: 500;
}

.post_by {
    font-size: .8rem;
    font-family: var(--pacifico-font);
    text-transform: none;
    color: var(--grey-color);
    margin-left: 15px;
}

.post_head {
    height: 50px;
    display: flex;
    align-items: center;
    font-family: var(--josefin-font);
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-left: -55px;
}

.post_text {
    max-width: 400px;
    margin-top: 20px;
    color: var(--grey-dark-color);
    font-family: var(--serif-font);
}

.post_read-more {
    font-family: var(--serif-font);
    display: block;
    color: var(--gold-color);
    max-width: 76px;
    text-transform: capitalize;
    transition: .3s;
}

.post_read-more_line {
    width: 100%;
    height: 1px;
    background-color: var(--gold-color);
    display: block;
    margin-top: 5px;
    width: 1px;
    transition: .3s;
    margin-left: 38px;
    opacity: 0;
}

.post_read-more:hover .post_read-more_line {
    transform: scale(76, 1);
    opacity: 1;
}

.post_reversed {
    display: flex;
    justify-content: flex-end;
}

.post_reversed .post_content {

}

.post_reversed .post_img {
    margin-right: 0;
    margin-left: 35px;
}

.post_reversed .post_data, .post_reversed .post_white {
    margin-left: 0;
}

.post_reversed .post_title, .post_reversed .post_read-more {
    margin-left: auto;
}

.post_reversed .post_head {
    margin-left: auto;
    margin-right: -60px;
    z-index: 3;
}

.post_reversed .post_text {
    text-align: right;
}

main {
    height: 2400px;
}

.post_img_1 {
    background-image: url(./../images/post_1.jpg);
}

.post_img_2 {
    background-image: url(./../images/post_2.jpg);
}

.post_img_3 {
    background-image: url(./../images/post_3.jpg);
}

.post_img_4 {
    background-image: url(./../images/post_4.jpg);
}